* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

header{
  margin: 50px;
}

.header-side {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#title {
  width: 49%;
}

.quarter-width{
  width: 25%;
}

nav {
  text-align: left;
  margin: 20px 20px;
}

nav li {
  display: inline;
  list-style: none;
  padding: 20px;
  border-right: 1px black solid;
}

nav li:last-child{
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: green;
}

#main div{
  display: inline-block;
  width: 49.5%;
  height: 1000px;
  text-align: center;
  padding: 20px 0;
  vertical-align: middle;
}

#main div article img, #main div article p {
  display: inline-block;
  max-width: 40%;
  max-height: 500px;
  vertical-align: middle;
  margin: 20px;
}

#suggested article{
  display: inline-block;
  width: 24.5%;
  height: 500px;
  vertical-align: middle;
  margin:20px 0;
}

#suggested article img, #suggested article p {
  width: 90%;
  text-align: center;
  margin: 20px 5%;
}


/* FIRST TRY


header{
  text-align: center;
  display:block;
}

.quarter-width {
  width: 25%;
  display: inline;
}

#title{
  width: 50%;
  text-align: center;
  display: inline;

}

#title h1{
  font-size: 80px;
  margin-bottom: 0%;
}

#title h2{
  font-size: 40px;
  margin-top: 0%;
}

nav{
  width: 98%;
  border: 1px solid black;
} */

